<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1 v-once>{{ title }}</h1> <!-- v-once : on ne fait qu'une fois le titre -->
        <h2>{{ title }}</h2>
        <h3 v-once v-bind:title="message">{{ title }}</h3>
        <p>{{ paragraphe }}</p> 
        <p v-if="seen">tu me vois ou pas</p> <!-- v-if : si seen est vrai, on affiche le paragraphe -->
        <button v-on:click="modiftitre">modifier</button>
        <input type="text" v-model="seen">
      </div>
<script>
    new Vue({
        el: "#app",
        data: {
            title: "Le Titre!",
            paragraphe: `<strong>coucou</strong>`, // on peut mettre du html dans le paragraphe
            seen: true,
            message: "Important !",
        },
        methods: {
            modiftitre: function() {
                this.title += " ne modifie que celui-ci car on à mis le premier titre en v-once";
            }
        }
    });
</script>
</html>