@use "variables" as *;

// #couleur {
//   color: v.$primary_color;
// }

// #cadre {
//   border: v.$border solid v.$primary_color;
// }

// #texte {
//   font-size: v.$texte;
// }

p {
  font-size: $texte;
  span {
    border: $border solid $primary_color;
    a {
      text-decoration: none;
      color: $primary_color;
    }
  }
}
